@import url(../css/fonts.css);
@import url(../css/reset-css.css);

html * {
    font-family: elmessiri;
    font-size: 15px;
    color: #d0d3d4;
}

body {
    background-color: #111;
}

/***** SECTION MENU *********/
.li_menu {
	 padding: 0 .5rem !important;
}

#li_new .fa-chevron-down {
	position: absolute;
    right: 0.1rem;
}

#li_new ul {
	position: static;
	display: none;
	background-color: rgba(0, 0, 0, .6);
	width: 13rem;
	margin-left: -.5rem;
}


/***** FIN SECTION MENU *********/

/***** ICONO NUEVO REGISTRO *********/
.fa-plus-circle {
	position: fixed;
	bottom: 0rem;
	right: 0.1rem;
	font-size: 3rem !important;
	z-index: 100;
}

.icon-plus:hover {
	color: #A93226;
}
/***** FIN ICONO NUEVO REGISTRO *********/

/***** SECTION_SEARCH *********/
#section_search {
	margin-top: 3rem;
}

.search_inputs {
	display: none;
}

#btn_show_all:active {
	transform: scale(0.95);
}
/***** FIN SECTION_SEARCH *********/

/***** SECTION SHOW DATOS *********/
#section_show_datos {
	margin-top: -.5rem;
}
.card_personalizada {
	position: relative;
    background-color: #222;
    margin-bottom: .7rem !important;
    padding: .3rem .3rem .5rem .3rem;
}
/***** FIN SECTION SHOW DATOS *********/

/***** SECTION VENTANA MODAL *********/
#section_form {
	position: fixed;
	z-index: 1025;
	background-color: rgba(0, 0, 0, .8);
    margin-top: 3rem;
    height: 100%;
    bottom: -100%;
    overflow: auto;
}

option {
    background-color: #111;
}

.input_field {
	background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: #d0d3d4;
}

.btns {
    padding: .5rem .7rem;
    background-color: transparent;
    border: .1rem solid #d0d3d4;
    border-radius: .3rem;
    color: #d0d3d4;
    font-size: 1.1rem;
    width: 100%;
}
/***** FIN SECTION VENTANA MODAL *********/

/************************************************** MEDIA QUERY **********************************************************/
@media(min-width: 992px) {
	/**** MENU *******/
	.fa-chevron-down {
		display: none !important;
    }
    
    #li_new ul {
    	position: absolute;
    	width: 8rem;
    	right: .4rem;
    }
    
    #li_new:hover ul {
		display: block;
	}
    
    #li_new ul li a .p_menu {
    	display: block;
    	right: 1rem;
    }
    /**** FIN MENU *****/
} 

