@import url(../css/fonts.css);
@import url(../css/reset-css.css);

html * {
    font-family: elmessiri;
    font-size: 15px;
    color: #d0d3d4;
}

body {
    background-color: #111;
}

#nav_menu {
	height: 10.5rem !important;
}

.li_menu {
	height: 3rem !important;
}

#section_form {
	position: fixed;
	z-index: 1025;
	background-color: rgba(0, 0, 0, .8);
	border: 1px solid green;
    margin-top: 3rem;
    height: 100%;
    bottom: -33rem;
    overflow: auto;
}

.icon-plus {
	position: fixed;
	bottom: 0rem;
	right: 0.1rem;
	font-size: 3rem;
	z-index: 100;
}

.icon-plus:hover {
	color: #A93226;
}

option {
    background-color: #111;
}

.input_field {
	background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
    color: #d0d3d4;
}

.btns {
    padding: .5rem .7rem;
    background-color: transparent;
    border: .1rem solid #d0d3d4;
    border-radius: .3rem;
    color: #d0d3d4;
    font-size: 1.1rem;
    width: 100%;
}



