/* Created on: 8/05/2017, 04:54:32 PM Author: sam */
@import url(fonts.css);

html * {
    font-family: elmessiri;
    font-size: 15px;
    color: #d0d3d4;
}

#th_hora {
    width: 4.5rem;
}

.acciones {
    text-align: center;
    width: 4.5rem;
}

.th {
    padding: .2rem;
}

td .fa {
    padding: 0 .5rem 0 .5rem;
    font-size: 1.3rem;
}

#fecha_reservacion {
    display: flex;
}

#print {
    font-size: 2rem;
    margin-left: 1rem;
}

#show_fecha {
    margin: 0 0 0 .3rem;
    font-size: 1.3rem;
}

#print {
	display: none;
}

.card_personalizada {
	position: relative;
    background-color: #222;
    margin-bottom: .7rem !important;
    padding: .3rem .3rem .5rem .3rem;
    /*box-shadow: -0.05rem 0.3rem 0.5rem grey;*/
}

.btns {
	background-color: transparent;
    position: absolute;
	bottom: .3rem;
	border: none;
    border-radius: 3rem;
    height: 2.3rem;
    width: 2.3rem;    
}

#btn_del {	
    right: .3rem;
}

#btn_edit {
    right: 2.9rem;    
}

.btns:hover {
    background-color: #A93226;
}

.icons {
    bottom: .2rem;
    position: absolute;
    border-radius: 50%;
    right: .1rem;
}

#pencil {
    padding: .1rem;
    font-size: 1.5rem;
}

#trash {
    padding: .3rem;
    font-size: 1.3rem;
}

/******************* MEDIAS QUERY ***********************/
@media (min-width: 992px) {
    #fecha_reservacion {
    	margin: 0 0 .3rem .5rem;
    }
    
    .card_personalizada {
    	margin: .3rem .3rem .7rem .8rem;
    	min-width: 45rem;
    }
    
    .p_card_personalizada {
    	font-size: 1.3rem;
    }
}
/***************** FIN MEDIAS QUERY *********************/
